$screen-md: 640px
$screen-xl: 1200px
$background: #FFCD00
$color-text: #FFFFFF
$border-bottom: #EDEDED
$bg-bottom: #E63000
$bg-bottom-hover: #CA2A00
$bottom-ds: #E7E7E7
$bottom-font-size: 14px

.cover
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    @media (min-width: $screen-md)
        width: 640px
    @media (min-width: $screen-xl)
        width: 100%
        max-width: 1440px
    &__images-container
        width: 100%
        overflow-x: hidden
        display: flex
        justify-content: center
        padding-bottom: 19px
    &__images
        display: flex
        position: relative
        height: 413.2229309082031px
        min-width: 645.98779296875px
        border-radius: 50%
        background: $background
        background-image: url('../assets/img/background.png')
        background-position: 23% bottom
        background-repeat: no-repeat
        background-size: auto 49%
        justify-content: center
        margin-top: -125px
        @media (min-width: $screen-md)
            margin-top: -125px
            height: 600px
            min-width: 937px
            background-position: 40% bottom
            background-size: 76% auto
            @media (min-width: $screen-xl)
                margin-top: -390px
                min-width: 1729px
                height: 1106px
                background-position: 34% bottom
                background-size: auto
                outline: 18px solid $background
    &__img-boy
        display: block
        position: relative
        height: 227px
        top: 154px
        left: -2px
        @media (min-width: $screen-md)
            height: 400px
            top: 160px
            left: 18px
            @media (min-width: $screen-xl)
                top: 471px
                left: -121px
                height: 559.23px
    &__img-cheese
        display: block
        width: 197.5px
        position: absolute
        left: 160px
        top: 156px
        transform: rotate(-2.53deg)
        @media (min-width: $screen-md)
            width: 351px
            left: 172px
            top: 146px
            @media (min-width: $screen-xl)
                left: 286px
                top: 413px
                width: 558.55px
    &__button
        display: flex
        position: relative
        align-items: center
        justify-content: center
        z-index: 90
        width: 164px
        height: 47px
        color: $color-text
        font-weight: 500
        font-size: $bottom-font-size
        line-height: 21px
        text-transform: uppercase
        text-decoration: none
        background: $bg-bottom
        border-radius: 29px
        border: 6px solid $border-bottom
        margin: -20px auto 84px
        filter: drop-shadow(0px 0px 37px $bottom-ds)
        transition: background 0.5s ease
        @media (min-width: $screen-md)
            width: 184px
            height: 57px
        &:hover
            background: $bg-bottom-hover
